@layer reset, layout, theme, typography;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
}

@layer theme {
  :root {
    --background-color: #f4f4ed;
    --text-color: #170900;
    --accent-color: #1779d8;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #40464a;
      --text-color: #d0cfc7;
      --accent-color: #3788d6;
    }
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

@layer layout {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .layout {
    min-height: 100%;
    padding: 0.5em;
    display: grid;
    grid-template-areas: "header" "navigation" "content" "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    gap: 0.5em;
  }

  @media (min-width: 800px) {
    .layout {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header header"
        "navigation content"
        "footer footer";
    }
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: navigation;
  }

  main {
    grid-area: content;
  }

  footer {
    grid-area: footer;
  }
}

@layer typography {
  :root {
    --font-serif: "Averia Serif Libre", serif;
    --font-sans-serif: "Optima", sans-serif;
  }

  body {
    font-family: var(--font-sans-serif);
    font-optical-sizing: auto;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  :any-link,
  h1,
  h2 {
    font-family: var(--font-serif);
  }

  h1 {
    font-size: 2.25em;
  }
  h1 {
    font-size: 2em;
  }
}

@layer theme {
  a:visited,
  a:active,
  a:link,
  a:hover,
  a:focus {
    color: var(--accent-color);
    text-decoration: none;
    outline-color: var(--accent-color);
  }
}
