@layer reset, layout, theme, typography, elements;

@layer theme {
  :root {
    --background-color: #f4f4ed;
    --text-color: #170900;
    --accent-color: #1779d8;
    --code-background-color: #e3e3d3;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #40464a;
      --text-color: #d0cfc7;
      --accent-color: #37b8d6;
      --code-background-color: #afb19c;
    }
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

@layer layout {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  /* Common layout definitions, see media queries below. */
  .layout {
    min-height: 100%;
    display: grid;
    gap: 0.5em;
    /* Both media queries define a layout padding, make it smooth with a transition. */
    transition: padding 125ms ease-in;
  }

  header {
    grid-area: header;
  }
  nav {
    grid-area: navigation;
  }
  main {
    grid-area: content;
  }
  footer {
    grid-area: footer;
  }

  /* Mobile and tablet. */
  @media only screen and (max-width: 820px) {
    .layout {
      grid-template-areas: "header" "navigation" "content" "footer";
      grid-template-rows: auto auto 1fr auto;
      grid-template-columns: 100%;

      padding: 0.5em;
    }
  }

  /* Desktop. */
  @media only screen and (min-width: 821px) {
    .layout {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header header"
        "navigation content"
        "footer footer";

      padding: 1em 2em;
    }

    header {
      padding-bottom: 0.75em;
    }

    nav ghp-navlink,
    nav a {
      display: block;
      width: 100%;
    }
  }

  nav .contents-title {
    padding-left: 0.5em;
  }

  footer {
    margin-top: 2.5em;
  }
}

@layer typography {
  :root {
    --font-serif: "Averia Serif Libre", serif;
    --font-sans-serif: "Noto Sans", sans-serif;
  }

  body {
    font-size: 17px;
    font-family: var(--font-sans-serif);
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  header blockquote {
    padding-left: 1em;
  }

  :any-link,
  h1,
  h2,
  h3,
  .contents-title {
    font-family: var(--font-serif);
  }

  h1,
  h2,
  h3 {
    letter-spacing: -1px;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.25em;
    margin: 1em 0 0.5em;
  }

  :any-link {
    font-size: 1.2rem;
    letter-spacing: -1px;
  }

  .contents-title {
    font-size: 1.2em;
    line-height: 2.2;
    font-weight: 600;
  }

  main {
    max-width: 80ch;
    text-wrap: pretty;
    padding-inline: 0.25em;
  }

  p {
    padding: 0.25em 0.25em 0.75em;
  }
}

@layer elements {
  a:visited,
  a:active,
  a:link,
  a:hover,
  a:focus {
    color: var(--accent-color);
    text-decoration: none;
    outline-color: var(--accent-color);
  }

  ul {
    margin-bottom: 1.5em;
  }

  nav {
    ul {
      list-style-type: none;
      padding-left: 1em;
    }
    a {
      padding-inline: 0.5em;
    }
    a[aria-current="page"] {
      background-color: hsla(200, 60%, 60%, 0.2);
      cursor: default;
    }
  }

  :not(pre) > code {
    font-size: 1rem;
    background-color: var(--code-background-color);
    text-wrap: nowrap;
    color: black;
    padding: 0.125em 0.25em;
    border-radius: 0.125em;
  }

  pre {
    background-color: #2b2c2d;
    padding: 0.5em;
    margin-bottom: 1em;
    overflow-x: auto;
    border-radius: 0.25em;

    code {
      font-family: monospace;
      word-break: break-all;
      color: #ccc;

      &::selection {
        background-color: hsla(195, 60%, 60%, 0.4);
        color: lightblue;
      }
    }
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  *::selection {
    background-color: gainsboro;
  }
}
